.Card
{
    /* background-color: rgb(253, 236, 236); */
      /* border: 10px solid black;  */
    
       background: rgb(76,106,186);
      background: linear-gradient(90deg, rgba(76,106,186,1) 0%, rgba(180,205,231,1) 11%, rgba(148,214,212,1) 29%, rgba(149,180,221,1) 52%, rgba(120,154,197,1) 73%, rgba(53,108,173,0.8575805322128851) 93%);
      
     


      margin-top: 10px;
     margin-bottom: 10px;
     justify-content: center;
     text-align: center;
     align-items: center;
     padding-bottom: 10px;
     opacity: 0.85;
     border-radius: 50px;
}
